@import url(../var/variaveis.css);

#buscaPsicologa {
    padding-top: 2cqh;
    background: linear-gradient(90deg, #E9F7FA 55%, #BAE6F1 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca__titulo {
    font-family: var(--texto-Poppins);
    font-size: clamp(2rem, 9vw, 2.375rem);
    color: var(--texto-cor-bold);
    text-align: center;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 450px;
    position: relative;
}

#card__slider {
    display: flex;
    gap: 40px;
    transition: transform 0.5s ease;
}

.card_buscar {
    border: 1px solid var(--bd-cor-card);
    background-color: var(--bg-card);
    padding: 25px 25px 25px 20px;
    border-radius: 15px;
    min-width: 80%;
}

.card_buscar:nth-of-type(1) {
    margin-left: 20px;
}

.buscar__descricao {
    font-family: var(--texto-Poppins);
    color: var(--texto-cor-bold);
    font-size: 20px;
}

.card__solucao {
    font-size: 14px;
    font-family: var(--texto-Poppins);
    color: var(--texto-cor-frase);
}

.btn-buscar {
    font-weight: 800;
    font-size: 24px;
    margin: 60px auto 40px auto;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 37px 19px 17px rgba(0, 0, 0, 0.01), 21px 11px 14px rgba(0, 0, 0, 0.05), 9px 5px 10px rgba(0, 0, 0, 0.09), 2px 1px 6px rgba(0, 0, 0, 0.1);
    width: 270px;
    text-align: center;
    transition: all .8s ease-in;
}

.btn-buscar:hover {
    background-color: var(--bg-card-p-sessao-fundo);
}

.psicologa {
    text-align: center;
}

.psicologa>img {
    width: 280px;
    height: 490px;
}

#antBtn, #proBtn {
    position: absolute;
    top: 50%;
    transform: translateY(160%);
    padding: 10px 20px;
    background-color: var(--bd-cor-card);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#proBtn {
    right: 50px;
}

#antBtn {
    left: 50px;
}

/* Rectangle 13 */