@import url(../var/variaveis.css);

#buscaPsicologa {
    padding-top: 2cqh;
    background: linear-gradient(90deg, #E9F7FA 55%, #BAE6F1 100%);
}

.busca__titulo {
    font-family: var(--texto-Poppins);
    font-size: clamp(2rem, 9vw, 2.375rem);
    color: var(--texto-cor-bold);
    text-align: center;
}

.container__card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card__slider {
    display: flex;
    gap: 1.25rem;
    overflow-x: auto;
    width: 340px;
}

.card_buscar {
    border: 1px solid var(--bd-cor-card);
    background-color: var(--bg-card);
    padding: 25px 25px 25px 20px;
    border-radius: 15px;
    width: 300px;
}

.buscar__descricao {
    font-family: var(--texto-Poppins);
    color: var(--texto-cor-bold);
    font-size: 20px;
}

.card__solucao {
    font-size: 14px;
    font-family: var(--texto-Poppins);
    color: var(--texto-cor-frase);
}

.btn-buscar {
    font-weight: 800;
    font-size: 24px;
    margin: 60px auto 40px auto;
    padding: 8px 16px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 37px 19px 17px rgba(0, 0, 0, 0.01), 21px 11px 14px rgba(0, 0, 0, 0.05), 9px 5px 10px rgba(0, 0, 0, 0.09), 2px 1px 6px rgba(0, 0, 0, 0.1);
    width: 270px;
    text-align: center;
}

.psicologa {
    text-align: center;
}

.psicologa > img {
    width: 280px;
    height: 490px;
}

/* Rectangle 13 */