@import url(../var/variaveis.css);

header {
  height: 80px;
  width: 100%;
  background-color: var(--bg-header);
}

@media screen and (min-width: 1024px) {
  header {
    width: 900px;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
  }
}